.main-page{
    background: url("../images/fondo5.jpg") no-repeat center fixed;
}
.designed-by{
    position: absolute;
    /*bottom: 0 !important;*/
    color: white;
    right: 0 !important;
    margin: 12px;
}
.transparent{
    background: rgba(255, 255, 255, 0.7) !important;
}
.title-logo{
    color: white !important;
    font-size: 150%;
    text-shadow: -4px 0px 3px rgba(150,150,150,1);
}
.login-box{
    margin: 5% auto !important;
}
.title-section{
    color: #3c8dbc;
    margin-left: 10px;
    margin-bottom: 10px;
}
.hr-mine{
    margin-top: 0px;
    margin-bottom: 10px;
}
.login-box, .register-box{
    width: 450px !important;
}
.login-box-msg, .register-box-msg{
    font-size: 18px;
    font-weight: bold;
}
