<md-content layout="column" class="sin-fondo" flex-align="center center">
    <div class="tc-white-1 p+" flex-container="row" flex-column="12" style="height:10em;">
        <div flex-item="12">
            <div class="p+" flex-align="center center">
                <div class="md-headline text-center">¿Vas a viajar?</div>
                <div class="md-subhead text-center">Comparte los gastos de tu viaje</div>
            </div>
        </div>
    </div>
    <md-button type="submit" class="md-raised md-primary btn-lg top-space-btn" ng-click="$parent.menuNewTravel()">
        <lx-icon lx-id="plus-box" lx-size="l" lx-color="white" lx-type="flat"></lx-icon> Publicar
    </md-button>
    <md-button type="submit" class="md-raised btn-lg accent-color top-space-btn" style="margin-top 50px; color:#FFF;" ng-click="$parent.menuSearch()">
        <lx-icon lx-id="magnify" lx-size="l" lx-type="flat"></lx-icon> Buscar
    </md-button>
</md-content>
