<md-content layout-xs="column" layout="row" style="background: rgba(0,0,0,0) !important;" flex-align="center center">
    <md-button type="submit" class="md-raised bg-blue btn-lg top-space-btn btn-facebook">
        <lx-icon lx-id="facebook" lx-size="l" lx-color="white" lx-type="flat"></lx-icon>Facebook
    </md-button>
    <md-button type="submit" class="md-raised bg-red btn-lg btn-google" class="">
        <lx-icon lx-id="google-plus-box" lx-size="l" lx-color="white" lx-type="flat"></lx-icon> Google
    </md-button>
</md-content>
