<md-content layout="column" class="sin-fondo">
    <section>
        <md-subheader class="accent-color padding-8">Resultados</md-subheader>
        <div layout="column">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/logo.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">Fecha</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inicio - Fin</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        El viaje inicia en la calle ...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Ver</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/logo.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">Fecha</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inicio - Fin</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        El viaje inicia en la calle ...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/logo.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">Fecha</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inicio - Fin</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        El viaje inicia en la calle ...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/logo.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">Fecha</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inicio - Fin</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        El viaje inicia en la calle ...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/logo.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">Fecha</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inicio - Fin</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        El viaje inicia en la calle ...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/logo.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">Fecha</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inicio - Fin</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        El viaje inicia en la calle ...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/logo.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">Fecha</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inicio - Fin</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        El viaje inicia en la calle ...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>

    </section>
</md-content>
